<section class="main">
  <div id="left-sidebar">
    <%= image_tag "circle.png", id: 'circle' -%>
    <%= image_tag "circle-images/urzadzenia.png", alt: 'devices', class: 'main-image active' %>
    <%= image_tag "circle-images/lokalizacje.png", alt: 'localization', class: 'main-image hidden' %>
    <%= image_tag "circle-images/wspolpraca.png", alt: 'cooperation', class: 'main-image hidden' %>
  </div>
  <div id="subheader">
    <%= image_tag "devices_main_line.png", alt: 'devices line', id: 'main-line' -%>
    <%= image_tag "dot.png", alt: 'dot', id: 'dot' -%>
    <div class="submenu-buttons">
      <p id="lokalizacje-button" img-data="localization">
        <%= link_to "", localization_page_path, :class=>"left"  %>
      </p>
      <p id="wspolpraca-button" img-data="cooperation">
        <%= link_to "", cooperation_page_path, :class=>"middle"  %>
      </p>
    </div>
    <%= image_tag "submenu_line_left.png", alt: 'left line', id: 'left-line' -%>
    <%= image_tag "submenu_line_middle.png", alt: 'middle line', id: 'middle-line' -%>
  </div>
  <div id="content">
    <% if @photos.count > 4 %>
      <div id="carousel" class="jcarousel">
        <div class="carousel_container">
          <ul>
            <% @photos.each do |p|%>
              <li class="thumb">
                <%= link_to image_tag(p.photo(:thumb)), p.photo(:large) %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
    <div class="static devices">
      <%= image_tag("static-bg.png", class:"static-bg")%>
      <p>
        Urządzenie "BLUE CHECK POINT" jest stacjonarnym skanerem elektroniki samochodowej zgodnej
        ze standardem EOBD (posiada go większość pojazdów po 2000 r.) umożliwiającym odczyt i kasowanie błędów
        sterownika silnika przez użytkownika pojazdu.
      </p>
      <p>
        Jedynym warunkiem jest posiadanie przez pojazd gniazda OBD 16pin.
      </p>
      <p>
        Specjalnie zaprojektowany interfejs użytkownika pozwala każdemu kierowcy odczytać i skasować
        błędy wygenerowane przez sterowniki pojazdu - czyli poznać przyczynę pojawiania się złowieszczej
        kontrolki "CHECK ENGINE!"za pomocą czterech przycisków i prostych
        komunikatów (oczywiście w języku polskim).
      </p>
      <p>
        Unikalna konstrukcja menu gwarantuje dostęp tylko do bezpiecznych funkcji diagnostyki
        uniemożliwiając tym samym spowodowanie jakichkolwiek uszkodzeń, czy niepożądanych efektów nawet przez
        nieumiejętną obsługę.
      </p>
      <p>
        Urządzenie nie wymaga żadnych dodatkowych źródeł zasilania i samo nie wytwarza żadnego napięcia
        - jest zasilane wyłącznie z gniazda diagnozowanego pojazdu (12v) co eliminuje niebezpieczeństwo
        porażenia lub uszkodzenia samochodu.
      </p>
      <p>
        Urządzenie jest dostępne w 2 wariantach: większym wolnostojącym lub mniejszym - wiszącym
        (mocowanym do ściany lub słupa).
        Oba warianty mogą występować zarówno z wrzutnikiem monet jak też bez niego (na życzenie).
      </p>
      <p>
        Konstrukcja urządzenia czyni je idealnym elementem dodatkowego wyposażenia stacji paliw, myjni, 
    parkingów, stacji LPG, itp.
      </p>
    </div>
    <p class="bottom-bg"></p>
  </div>
</section>

