<section class="main">
  <div id="left-sidebar">
    <%= image_tag "circle.png", id: 'circle' -%>
    <%= image_tag "circle-images/pomoc.png", alt: 'help', class: 'main-image hidden' %>
    <%= image_tag "circle-images/kody.png", alt: 'codes', class: 'main-image active' %>
    <%= image_tag "circle-images/zlacza.png", alt: 'connectors', class: 'main-image hidden' %>
    <%= image_tag "circle-images/samochody.png", alt: 'cars', class: 'main-image hidden' %>
  </div>
  <div id="subheader">
    <%= image_tag "help_main_line.png", alt: 'codes line', id: 'main-line' -%>
    <%= image_tag "dot.png", alt: 'dot', id: 'sub-dot' -%>
    <div class="submenu-buttons">
      <p id="kody-button" class="active" img-data="codes">
        <%= link_to "", codes_path, :class=>"left" %>
      </p>
      <p id="zlacza-button" img-data="connectors">
        <%= link_to "", connectors_page_path, :class=>"middle" %>
      </p>
      <p id="samochody-button" img-data="cars">
        <%= link_to "", cars_page_path, :class=>"right" %>
      </p>
    </div>
    <%= image_tag "submenu_line_left.png", alt: 'left line', id: 'left-line', class: "active-line"-%>
    <%= image_tag "submenu_line_middle.png", alt: 'middle line', id: 'middle-line' -%>
    <%= image_tag "submenu_line_right.png", alt: 'right line', id: 'right-line' -%>
  </div>
  <div id="content">
    <div class="static">
      <%= image_tag("static-bg.png", class:"static-bg")%>
      <div class="code-search">
        <%= form_tag codes_path, :method => 'get', :id => 'codes-search-form' do %>
          <p class="search">
            <%= text_field_tag "q", nil, :placeholder => "Szukaj..." %>
          </p>
          <p class="search-brand">
            <%= select_tag :car_brand, options_for_select(Code::BRANDS, params[:car_brand]) %>
          </p>
          <p id="commit">
            <%= submit_tag '' %>
          </p>
        <% end %>
      </div>
      <ul class="codes-container">
      <% @codes.each do |code| %>
        <li>
          <h2><%= code.number%></h2>
          <p><%= code.text %></p>
        </li>
      <% end %>
    </ul>
    </div>
    <%= will_paginate @news %>
  </div>
</section>
